<% @posts.reverse.each do |post| %>
  <p><%=post.user.username %>: <%=post.message%></p>
  <%= link_to "View comments", post %>
<% end %>


<p><%= link_to new_post_path do %>
  New post
<% end %></p>
