// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.modal {
  .modal-body {
    .img-thumbnail {
      width: 100%;
      background: transparent;
      padding: 0;
      border: 0;
    }
  }
}

.albums {
  img {
    margin-top: 20px;
  }
}