@import "bootstrap";
@import "posts";
@import "users";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

$brand-primary: #4376d4;

h1 {
  font-size: calc(1.375rem + 1vw);
}

.soft-top {
  padding-top: 20px;
}

html,
body {
  min-height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar.bg-light {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  color: white;
}

.site-main-wrap {
  background: #f7f7f7;
  padding: 80px 0 40px;
  display: block;
  height: 100%;
}

.img-padding {
  padding: 20px 40px;
}

.form-group-wrap {
  background: white;
  border-radius: 8px;
  margin: 0 auto;
  width: 90vw;
  max-width: 100%;
  box-shadow: 0 3px 6px -5px;
  @media (min-width: 768px) {
    width: 60vw;
  }
  @media (min-width: 1200px) {
    width: 40vw;
  }
  padding: 20px 30px;
  .form-group {
    margin-top: 20px;
    .control-label {
      margin-bottom: 5px;
    }
  }
}

.text-right {
  @media (min-width: 768px) {
    text-align: right;
  }
}

.title {
  font-size: 4.6vw;
  font-weight: 700;
  padding-bottom: 20px;
  span {
    font-size: 45%;
    display: block;
    font-weight: 500;
  }
}

#flash {
  .flash.alert {
    position: fixed;
    bottom: 5%;
    background: rgba(67,118,212, 0.8);
    margin: 0 auto;
    width: 40vw;
    left: 30vw;
    color: white;
    text-align: center;
    display: block;
    padding: 20px;
    animation-name: disappear;
    opacity: 0;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
}

.navbar-flex {
  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .inline-items {
      .nav-link {
        display: inline-block;
      }
    }
  }
}


@keyframes disappear {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
