.profile-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 80%;
  margin-bottom: 10px;
  p {
    line-height: 1;
    margin: 0;
    a {
      text-decoration: none;
      font-weight: 600;
      color: #4376d4;
    }
  }
  img {
    height: 40px;
    width: 40px;
    line-height: 1;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.post{
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 3px 6px -5px;
  width: 100%;
  .post-body {
    img {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .post-footer {
    border-top:rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 110%;
      margin-right: 8px;
    }
    .btn {
      display: inline-block;
      font-size: 15px;
    }
    form {
      display: inline-block;
    }
  }
}

.post-container {
  width: 90vw;
  max-width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 60vw;
  }
  @media (min-width: 1200px) {
    width: 45vw;
  }
}