// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 80%;
  margin-bottom: 10px;
  p {
    line-height: 1;
    margin: 0;
    a {
      text-decoration: none;
      font-weight: 600;
      color: #4376d4;
    }
  }
  .img-profile {
    height: 200px;
    width: 200px;
    background: white;
    display: block;
    line-height: 1;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.album-viewer {
  padding: 20px 0;
  width: 85%;
  a {
    display: block;
  }
  img {
    width: 100%;
  }
  .album-cover {
    box-shadow: 0 3px 4px -4px black;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    a {
      color: #333;
      text-decoration: none;
    }
  }
}